.header-logo{
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-logo img{
    width: 100px;
    
}


@media screen and (max-width: 668px){
    .header-logo{
        flex-direction: column;
    
    }
}